@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@400;500;700;800;900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: sans-serif !important;
  background-image: linear-gradient(to right, #292929 0%, black 100%);
}

a {
  text-decoration-thickness: 1px;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
